<% provide(:title, @movie['title']) %>


<%= link_to sanitize("&larr; Back"), movies_path, class: "mb-6 inline-block py-2 px-6 bg-gray-200 text-white rounded-lg shadow" %>

<article class="md:flex md:space-x-8">
  <div class="md:w-96 lg:w-auto">
    <%= image_tag(@movie['image_url'], alt: @movie['title'], class: "w-full rounded-t") %>
  </div>
  <div class="md:w-96 lg:w-auto space-y-3">
    <h4 class="text-3xl font-bold"><%= @movie['title'] %></h4>
    <p><%= @movie['description'] %></p>
    <p class="font-bold">Runtime: <span class="font-light"><%= @movie['runtime_in_minutes'] %> minutes</span></p>
    <p class="font-bold">Rating: <span class="font-light"><%= @movie['rating'].upcase %></span></p>
    <p class="font-bold">Average Review Rating: <span class="font-light">3</span></p>
    
    <div>
      <h4 class="mb-2 text-2xl font-bold">Now Showing Here</h4>
      <div class="grid md:grid-cols-4 lg:grid-cols-6 gap-8">
        <% @movie['theaters'].each do |theater| %>
        <div class="p-3 col-span-2 border rounded">
          <h6 class="text-xl font-semibold"><%= theater['name'].titleize %></h6>
          <p><%= theater['address'].titleize %></p>
          <p><%= theater['city'].capitalize %>, <%= theater['state'].upcase %> <%= theater['zip'] %></p>
        </div>
        <% end %>
      </div>
    </div>

    <div>
      <h4 class="mb-2 text-2xl font-bold">Reviews</h4>
      <div class="container mx-auto space-y-6">
        <% @movie['reviews'].each do |review| %> 
          <div class="p-6 border rounded">
            <review-content class="mb-6 block leading-relaxed space-y-3">
              <p class="text-2xl font-semibold">
                  <%= full_name( review['critic']['preferred_name'], review['critic']['surname'] ) %><span class="font-xl font-light"> of <%= review['critic']['organization_name'].titleize %></span>
              </p>
              <p><%= markdown(review['content']) %></p>
            </review-content>
          
            <div class="mb-6 flex space-x-2">
              <p class="font-bold">Rating:</p>
              <p id="rating-number"><%= review['score'] %></p>
              <rating-button class="inline-block space-x-2">
                <button class="text-blue-500 font-extrabold transform rotate-90">&larr;</button>
                <button class="text-blue-500 font-extrabold transform -rotate-90">&larr;</button>
              </rating-button>
            </div>

            <button class="py-2 px-6 bg-red-600 text-red-100 rounded shadow">Destroy Review</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</article>
